@* Subscription Services *@

<div class="row">
    
    <div class="col-10 offset-1">

        <div class="d-md-flex flex-md-equal my-md-3 pl-md-3">
            <div class="row">

            <div class="col-md pt-3  text-center ">
                
                <div class="card">
                
                    <img class="card-img-top w-200" src="~/Images/PaperTrayErrepar.jpg" alt="Card image cap">
                    
                    <div class="card-body errepar-background-color">

                        <p class="card-text text-white">Nuestro servicio exclusivo para estudios contables.</p>
                    
                        <div class="my-5">

                            <a href="/Site/ContactErrepar" class="btn btn-lg btn-light">Contratar</a>

                            <a href="/Site/Errepar" class="btn btn-lg btn-outline-light ml-3">Ver más</a>

                        </div>
                    
                    </div>
                
                </div>
            
            </div>

            <div class="col-md pt-3  text-center">
                
                <div class="card">
                
                    <img class="card-img-top w-200" src="~/Images/MoleskinNotepadErreius.jpg" alt="Card image cap">
                    
                    <div class="card-body erreius-background-color">                       
                    
                        <p class="card-text text-white">Nuestro servicio exclusivo para estudios jurídicos.</p>

                        <div class="my-5">

                            <a href="/Site/ContactErreius" class="btn btn-lg btn-light">Contratar</a>

                            <a href="/Site/Erreius" class="btn btn-lg btn-outline-light ml-3">Ver más</a>

                        </div>

                    </div>

                </div>
            
            </div>
                </div>

        </div>

    </div>

</div>

@* Editorial Services *@

<div class="row">
    
    <div class="col-10 offset-1">

        <div class="d-md-flex flex-md-equal my-md-3 pl-md-3">

            <div class="card text-white text-center">
                
                <img class="card-img-top" src="~/Images/EdicionesHaber.jpg" alt="Card image cap">
               
                <div class="card-body haber-background-color">

                    <p class="card-text text-white">Nuestro servicio editorial especializado en Ciencias Economicas y Juridicas.</p>
                
                    <div class="my-5">

                        <button type="button" onclick="location.href = '/Site/Contact';" class="btn btn-lg btn-light">Edite con nosotros</button>

                        <button type="button" onclick="location.href = '/Site/Editorial';" class="btn btn-lg btn-outline-light ml-3">Ver mas</button>

                    </div>
                
                </div>

            </div>

        </div>

    </div>

</div>
