<div class="container-fluid full-height p-0">

    <header>

        @Html.Partial("_NavigationBar")

    </header>
    
    <section>

        @Html.Partial("_BookDescription")

    </section>

    <footer>

        @Html.Partial("_Footer")

    </footer>

</div>