
<div class="container-fluid p-0">

    <header>

        @Html.Partial("_NavigationBar")

    </header>

    <section>
        <div class="row">
            r

            <div class="col-12">

                <div class="d-md-flex flex-md-equal my-md-3 pl-md-3">

                    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 w-100 text-center text-black">

                        <div class="my-3 py-3">

                            <img src="~/Images/Auxiliary/ErreiusBanner.jpg"  class="img-fluid" alt="Responsive image">

                            <div class="my-3 py-3 erreius-text-title">

                                <h2>Nuestros productos</h2>

                                <p>Contamos con un abanico muy amplio de productos y servicios para profesionales en ciencias jurídicas, que combinan sistemas de búsqueda de información en línea, como <i><b>Erreius Online</b></i>, con publicaciones impresas y digitales</p>

                            </div>

                            <div class="row mb-2">

                                <div class="col-md-6">

                                    <div class="card flex-md-row mb-4 box-shadow">

                                        <div class="card-body d-flex flex-column align-items-start">

                                            <strong class="d-inline-block mb-2 text-primary">TEMAS DE DERECHO PROCESAL</strong>

                                            <p class="card-text erreius-text-justify">Esta publicación periódica integra la suscripción de <b>Erreius Procesal</b>. Dirigida por el Doctor Carlos E. Camps, Temas de Derecho Procesal es hoy una publicación única en nuestro ámbito por su alcance, contenido, formato y frecuencia.</p>

                                            <p class="card-text erreius-text-justify">De aparición mensual, tiene como norte generar herramientas eminentemente prácticas. con el suficiente sustento teórico,  para el logro concreto de un proceso eficaz, entendiendo por ello a aquel trámite que resuelva adecuadamente el conflicto que aqueja a la gente y, por consiguiente, a la sociedad.</p>

                                        </div>

                                        <img class="erreius-card" src="~/Images/Auxiliary/Procesal.jpg" alt="Card image cap">

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="card flex-md-row mb-4 box-shadow h-md-250">

                                        <div class="card-body d-flex flex-column align-items-start">

                                            <strong class="d-inline-block mb-2 text-primary">TEMAS DE DERECHO LABORAL Y DE SEGURIDAD SOCIAL</strong>

                                            <p class="card-text erreius-text-justify">Esta publicación periódica integra la suscripción de Erreius Laboral y de la Seguridad Social.</p>

                                            <p class="card-text erreius-text-justify">Dirigida por los Doctores Carlos A. Toselli y Néstor A. Fasciolo, Temas de Derecho Laboral y de la Seguridad Social es la más antigua de las publicaciones de Erreius, que acompaña, con una mirada práctica, los profundos cambios que se han dado y se darán en el campo del derecho del trabajo y previsional.</p>

                                        </div>

                                        <img class="erreius-card" src="~/Images/Auxiliary/Laboral.jpg">

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="card flex-md-row mb-4 box-shadow h-md-250">

                                        <div class="card-body d-flex flex-column align-items-start">

                                            <strong class="d-inline-block mb-2 text-primary">TEMAS DE DERECHO ADMINISTRATIVO</strong>

                                            <p class="card-text erreius-text-justify">Esta publicación periódica integra la suscripción de <b>Erreius Administrativo</b>.</p>

                                            <p class="card-text erreius-text-justify">Dirigida por el <b>Doctor Carlos F. Balbín</b>, Temas de Derecho Administrativo  se constituye como una herramienta de análisis con un lado práctico profesional con un abordaje que pretende reabrir el debate teórico con perspectivas práctica sobre los temas más importantes del derecho administrativo, los más novedosos, los más controvertidos,  con una nueva mirada, que en el contexto actual nos exige replantearnos el vínculo entre el Derecho Privado y Público.</p>

                                        </div>

                                        <img class="erreius-card" src="~/Images/Auxiliary/Administrativo.jpg">

                                    </div>

                                    

                                </div>

                                <div class="col-md-6">

                                    <div class="card flex-md-row mb-4 box-shadow h-md-250">

                                        <div class="card-body d-flex flex-column align-items-start">

                                            <strong class="d-inline-block mb-2 text-primary">TEMAS DE DERECHO CIVIL, PERSONA Y PATRIMONIO</strong>

                                            <p class="card-text erreius-text-justify">De frecuencia mensual esta publicación periódica integra la suscripción de Erreius Civil.</p>

                                            <p class="card-text erreius-text-justify">Dirigida por las Doctoras Lily Flah y Silvia Y. Tanzi, nace en tiempos históricos significativos tras la unificación del Código Civil y Comercial de la Nación.</p>

                                            <p class="card-text erreius-text-justify">Temas de Derecho Civil abarca temas de derecho privado, con el propósito de aportar opiniones en el marco de la reciente promulgación del Código Civil y Comercial de la Nación, trata los temas más relevantes en materia de los principios y paradigmas contenidos en el Título Preliminar del Código; la tutela integral de la persona humana; la incorporación de  los derechos personalísimos, la unificación de las órbitas contractual y extracontractual; las personas jurídicas, el derecho de propiedad; las relaciones de consumo, entre tantos otros.</p>

                                        </div>

                                        <img class="erreius-card"  src="~/Images/Auxiliary/Civil.jpg">

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="card flex-md-row mb-4 box-shadow h-md-250">

                                        <div class="card-body d-flex flex-column align-items-start">

                                            <strong class="d-inline-block mb-2 text-primary">TEMAS DE DERECHO DE FAMILIA, SUCESIONES Y BIOÉTICA</strong>

                                            <p class="card-text erreius-text-justify">Integrado la suscripción de Erreius de Familia, Dirigida por el <b>Doctor Jorge C. Berbere Delgado</b>, Temas de Derecho de Familia, Sucesiones y Bioética, se ha propuesto crear un espacio de deliberación interdisciplinario, con el aporte de personalidades destacadas en distintas áreas del conocimiento, del ámbito jurídico, filosófico, médico, sociológico, entre otras, de uno de los campos del derecho que más se ha modificado en los últimos tiempos, producto de la unificación de los códigos civil y comercial que ha receptado situaciones que impactan en las relaciones de familia, debido a dos relevantes cuestiones que han sido los móviles fundamentales de las transformaciones. Los avances de la biociencia y la biotecnología, por un lado, y las nuevas actitudes sociales y culturales por el otro.</p>

                                        </div>

                                        <img class="erreius-card"  src="~/Images/Auxiliary/Familia.jpg">

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="card flex-md-row mb-4 box-shadow h-md-250">

                                        <div class="card-body d-flex flex-column align-items-start">

                                            <strong class="d-inline-block mb-2 text-primary">TEMAS DE DERECHO COMERCIAL, EMPRESARIAL Y DEL CONSUMIDOR</strong>

                                            <p class="card-text erreius-text-justify">Esta publicación integra la suscripción de Erreius Comercial. De la mano de la reciente reforma al Código Civil y Comercial de la Nación,y bajo la dirección del Doctor Marcelo L. Perciavalle, Temas de Derecho Comercial, Empresarial y del Consumidor, hace hincapié en todo lo concerniente al derecho empresario en general, dinámico por naturaleza, incluyendo ello temas de candente actualidad como lo son el derecho empresarial, del consumidor, bancario, seguros, títulos de créditos y contratos en general.</p>

                                            <p class="card-text erreius-text-justify">De corte eminentemente práctico, se suman a las clásicas secciones de doctrina, jurisprudencia y legislación, un consultorio práctico y  modelos de escritos y contratos.</p>

                                        </div>

                                        <img class="erreius-card"  src="~/Images/Auxiliary/Comercial.jpg">

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="my-3 py-2 erreius-text-title">

                            <h2>Beneficios para suscriptores</h2>

                            <p>Conozca los beneficios que usted tiene por ser suscriptor de Erreius</p>

                        </div>

                        <div class="container erreius-text-benefits">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="la la-check"></i>  Acceso online
                                </div>
                                <div class="col-md-4">
                                    <i class="la la-check"></i>  Errenews y adelantos digitales
                                </div>
                                <div class="col-md-4">
                                    <i class="la la-check"></i>  Noticias al instante
                                </div>
                                <div class="col-md-4">
                                    <i class="la la-check"></i>  Erreius mobile
                                </div>
                                <div class="col-md-4">
                                    <i class="la la-check"></i>  Publicaciones en papel
                                </div>
                            </div>
                        </div>

                        <div class="my-5">

                            <p>Si todavía no es suscriptor solicite su clave demo para acceder al Erreius Online de forma gratuita por 15 días</p>

                            <a type="button" href="/Site/ContactErreius" class="btn btn-lg btn-dark">Solicite su clave demo</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <footer>

        @Html.Partial("_Footer")

    </footer>

</div>
