
<div class="container-fluid p-0">

    <header>

        @Html.Partial("_NavigationBar")

    </header>

    <section>
        <div class="row">
           

            <div class="col-12">

                <div class="d-md-flex flex-md-equal my-md-3 pl-md-3">

                    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 w-100 text-center text-black">

                        <div class="my-3 py-3">

                            <div class="jumbotron p-3 p-md-5 errepar-text-banner rounded errepar-background-banner">

                                <div class="col-md-12 px-0">

                                    <img src="~/Images/Auxiliary/Errepar.png" width="200" />

                                    <h1 class="display-4 font-italic">Soluciones de excelencia para la tarea diaria del profesional</h1>

                                    <ul>

                                        <li><b>Actualización constante</b> de la información.</li>

                                        <li><b>Valor agregado</b>, ya que la información es analizada y elaborada por un destacado equipo de especialistas.</li>

                                        <li><b>Desarrollo de herramientas tecnológicas</b> que le permitan al profesional simplificar su tarea diaria.</li>

                                    </ul>

                                </div>

                            </div>

                            <div class="my-3 py-3 errepar-text-title">

                                <img src="~/Images/Auxiliary/ErreparOnline.jpg" />

                                <p>Es el sistema de información profesional más completo que existe en el mercado de las ciencias económicas. Es muy fácil de usar, ya que cuenta con un motor de búsqueda inteligente, similar a los grandes buscadores de Internet, que permite encontrar información precisa en segundos. Además, posee accesos directos, funciones que facilitan la navegación de documentos y vinculaciones con información relacionada con el tema en estudio.</p>

                            </div>


                            <div class="my-3 py-3 errepar-text-title">

                                <h2>Productos y servicios</h2>

                                <p>Contamos con un abanico muy amplio de productos y servicios para profesionales en ciencias económicas y jurídicas, que combinan sistemas de búsqueda de información en línea, como <b>Errepar Online</b>, con publicaciones impresas y digitales.</p>

                            </div>

                            <div class="my-3 py-3 errepar-text-title">

                                <h2>¿Qué contenidos abarcan nuestras suscripciones?</h2>

                            </div>


                            <div class="container erreius-text-benefits mb-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="la la-check-square-o"></i>  Legislación
                                    </div>
                                    <div class="col-md-4">
                                        <i class="la la-check-square-o"></i>  Doctrina y práctica
                                    </div>
                                    <div class="col-md-4">
                                        <i class="la la-check-square-o"></i>  Jurisprudencia
                                    </div>
                                </div>
                            </div>

                            <div class="my-3 py-3 errepar-text-title">

                                <h5>De los siguientes temas</h5>

                            </div>

                            <div class="container mb-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Tributaria
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Laboral y previsional
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Societaria y concursal
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Contabilidad, administración y auditoría
                                    </div>
                                </div>
                            </div>

                            <div class="my-3 py-3 errepar-text-title">

                                <h5>Y publicaciones especializadas que complementan su suscripción</h5>

                            </div>

                            <div class="container mb-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Consultor tributario
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Liquidación de sueldos
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Errepar rural
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  Regional (Buenos Aires, Córdoba o Santa Fe)
                                    </div>
                                    <div class="col-md-12">
                                        <i class="la la-thumb-tack"></i>  D&G (Dirección y gestión) empresaria y profesional
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-12">

                                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

                                        <h1 class="display-4">Productos más vendidos</h1>

                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class=" d-md-flex flex-md-equal  my-md-3 pl-md-3">
                                        <div class="row">
                                        <div class="col col-md-4 pt-3 text-center">

                                            <div class="card-deck mb-3 text-center">

                                                <div class="card mb-4 box-shadow">

                                                    <div class="card-header">

                                                        <h4 class="my-0 font-weight-normal">Colección integral básica</h4>

                                                    </div>

                                                    <div class="card-body">

                                                        <img src="~/Images/Auxiliary/ErreparJoven.png" width="200" class="img-fluid" />

                                                        <h1 class="card-title pricing-card-title"><small class="text-muted">Temáticas</small></h1>

                                                        <ul class="list-unstyled mt-3 mb-4">

                                                            <li>Impuestos</li>

                                                            <li>Laboral y previsional</li>

                                                        </ul>

                                                        <h1 class="card-title pricing-card-title"><small class="text-muted">Contenido</small></h1>

                                                        <ul class="list-unstyled mt-3 mb-4">

                                                            <li>Agenda</li>

                                                            <li>Doctrina</li>

                                                            <li>Legislación laboral</li>

                                                            <li>Impuestos Nacionales y Provinciales (línea CABA, Bs As y CM)</li>

                                                            <li>Práctica y actualidad</li>

                                                            <li>Consultor Tributario (publicación online y en papel con envío mensual).</li>
                                                        </ul>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col col-md-4 pt-3  text-center">

                                            <div class="card-deck mb-3 text-center">

                                                <div class="card mb-4 box-shadow">

                                                    <div class="card-header">

                                                        <h4 class="my-0 font-weight-normal">Colección integral plus</h4>

                                                    </div>

                                                    <div class="card-body">

                                                        <img src="~/Images/Auxiliary/ErreparIntegral.png" width="200" class="img-fluid" />

                                                        <h1 class="card-title pricing-card-title"><small class="text-muted">Temáticas</small></h1>

                                                        <ul class="list-unstyled mt-3 mb-4">

                                                            <li>Impuestos</li>

                                                            <li>Laboral y previsional</li>

                                                            <li>Sociedades y concursos</li>

                                                            <li>Contabilidad y administración</li>
                                                        </ul>

                                                        <h1 class="card-title pricing-card-title"><small class="text-muted">Contenido</small></h1>

                                                        <ul class="list-unstyled mt-3 mb-4">

                                                            <li> Agenda impositiva y laboral </li>
                                                            <li> Práctica y actualidad (incluye histórico de práctica)</li>
                                                            <li> Legislación tributaria, laboral, societaria y concursal (vigente y derogada)</li>
                                                            <li> Selección de Doctrina tributaria, laboral, societaria y concursal (incluye histórico)</li>
                                                            <li> Selección de Jurisprudencia tributaria y laboral</li>
                                                            <li> Impuestos Nacionales y Provinciales (apertura por jurisdicción)</li>
                                                            <li> Regímenes especiales</li>
                                                            <li> Digesto Práctico Laboral</li>
                                                            <li> Cooperativas, Asociaciones Civiles, Mutuales y Fundaciones</li>
                                                            <li> Normas Técnicas y Profesionales</li>
                                                            <li> Publicación Liquidación de Sueldos</li>
                                                            <li> Publicación Consultor Tributario (online y en papel con envío mensual).</li>

                                                        </ul>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col col-md-4 pt-3 text-center">

                                            <div class="card-deck mb-3 text-center">

                                                <div class="card mb-4 box-shadow">

                                                    <div class="card-header">

                                                        <h4 class=" font-weight-normal">Colección integral premium</h4>

                                                    </div>

                                                    <div class="card-body">

                                                        <img src="~/Images/Auxiliary/ErreparPremium.png" width="200" class="img-fluid" />

                                                        <h1 class="card-title pricing-card-title"><small class="text-muted">Temáticas</small></h1>

                                                        <ul class="list-unstyled mt-3 mb-4">

                                                            <li>Impuestos</li>

                                                            <li>Laboral y previsional</li>

                                                            <li>Sociedades y concursos</li>

                                                            <li>Contabilidad y administración</li>
                                                        </ul>

                                                        <h1 class="card-title pricing-card-title"><small class="text-muted">Contenido</small></h1>

                                                        <ul class="list-unstyled mt-3 mb-4">

                                                            <li> Agenda impositiva y laboral</li>
                                                            <li> Práctica y actualidad (incluye histórico de práctica)</li>
                                                            <li> Legislación tributaria, laboral, societaria y concursal (vigente y derogada)</li>
                                                            <li> Legislación de la República Argentina</li>
                                                            <li> Doctrina (completa) tributaria, laboral, societaria y concursal (incluye histórico)</li>
                                                            <li> Jurisprudencia tributaria y laboral (completa; anotada y concordada)</li>
                                                            <li> Impuestos Nacionales y Provinciales (apertura por jurisdicción)</li>
                                                            <li> Impuestos Comentados</li>
                                                            <li> Régimen Penal Tributario</li>
                                                            <li> Regímenes especiales</li>
                                                            <li> Digesto Práctico Laboral</li>
                                                            <li> Trabajo y Previsión Social</li>
                                                            <li> Práctica de Trabajo y Sueldos</li>
                                                            <li> Recursos de la Seguridad Social</li>
                                                            <li> Cooperativas, Asociaciones Civiles, Mutuales y Fundaciones</li>
                                                            <li> Normas Técnicas y Profesionales</li>
                                                            <li> Publicación Liquidación de Sueldos</li>
                                                            <li> Publicación D&G (Dirección y Gestión) Profesional y empresaria</li>
                                                            <li> Publicación Consultor Tributario (online y en papel con envío mensual).</li>


                                                        </ul>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>


                                    </div>
</div>
                                    </div>
                                </div>

                                <div class="my-3 py-2 erreius-text-title">

                                    <h2>Beneficios para suscriptores</h2>

                                    <p>Si usted es suscriptor de Errepar accede a los siguientes beneficios (sin cargo adicional):</p>

                                </div>

                                <div class="container errepar-text-justify">
                                    <div class="row">
                                        <div class="col-md-12 py-2">
                                            <i class="la la-bullhorn"></i>  <b>E-mails de novedades:</b> envíos periódicos con novedades de legislación, doctrina y práctica, jurisprudencia, jurisprudencia comentada, noticias de interés general, Boletín Oficial y toda la información necesaria para el ejercicio de su profesión. El envío de nuestros e-mails de novedades se realiza en función de la suscripción contratada y se clasifican por temática
                                        </div>
                                        <div class="col-md-12 py-2">
                                            <i class="la la-bullhorn"></i>  <b>"Mi Errepar":</b> acceso a un espacio personalizado dentro de Errepar Online, que le permite diseñar calendarios interactivos de vencimientos y obligaciones impositivas y laborales, generar informes, guardar búsquedas y documentos de interés y uso frecuente, y establecer alertas para informarse sobre cambios en los documentos seleccionados.
                                        </div>
                                        <div class="col-md-12 py-2">
                                            <i class="la la-bullhorn"></i>  <b>Consultas de orientación profesional:</b> acceso online a una importante base de preguntas y respuestas de gran interés para la práctica profesional, con la posibilidad de contactarse telefónicamente, por mail o vía web con nuestro equipo de especialistas para obtener respuestas a consultas e inquietudes puntuales. Este beneficio exclusivo se encuentra incluido en algunas de nuestras suscripciones.
                                        </div>
                                        <div class="col-md-12 py-2">
                                            <i class="la la-bullhorn"></i>  <b>Actualidad online:</b> aplicativo que se instala en su computadora y que le permite estar informado al instante de las novedades que van surgiendo en materia de información profesional sin interrumpir su trabajo, gracias a su cómodo diseño y su sistema de alertas.
                                        </div>
                                        <div class="col-md-12 py-2">
                                            <i class="la la-bullhorn"></i>  <b>Errepar mobile:</b> acceso a novedades, calendarios de vencimientos y la posibilidad de realizar consultas en Errepar Online desde su smartphone o tablet.
                                        </div>
                                        <div class="col-md-12 py-2">
                                            <i class="la la-bullhorn"></i>  <b>Beneficio en seminarios:</b> por ser suscriptor de Errepar usted cuenta con un precio especial de inscripción en seminarios.
                                        </div>
                                    </div>
                                </div>

                                <div class="my-5">

                                    <p>Si todavía no es suscriptor solicite su clave demo para acceder al Errepar Online de forma gratuita por 15 días</p>

                                    <a type="button" href="/Site/ContactErrepar" class="btn btn-lg btn-dark">Solicite su clave demo</a>

                                </div>

                            </div>

                </div>

            </div>

        </div>
            </div>

    </section>

    <footer>

        @Html.Partial("_Footer")

    </footer>

</div>
