
<div class="container-fluid p-0 haber-background-color-yellow">

    <header>

        <div class="col-12 no-gutters">

            @* Navigation Bar *@

            <nav class="navbar fixed-top navbar-expand-lg haber-navbar haber-background-color">

                <div class="navbar-header">

                    @* Brand Logo *@

                    <a class="navbar-brand" href="/Site/UnderConstruction">

                        <img src="~/Images/HaberSmallLogo.png" alt="Haber Logo" class="mx-3" width="100px" />

                    </a>

                </div>

                @* Navigation Elements *@

                <div class="collapse navbar-collapse justify-content-between p-2" id="navigation-items">

                    <ul class="navbar-nav">

                    </ul>

                </div>

                @* Collapse Button *@

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-items">

                    <span class="navbar-toggler-icon"></span>

                </button>

            </nav>

        </div>

    </header>

    <section>

        <div class="jumbotron p-3 p-md-5 rounded ediciones-haber-background text-center">

            <div class="col-md-12 px-0 text-center">

                <h1 class="display-3 font-italic haber-construction"><i class="la la-warning"></i></h1>

                <h1 class="display-3 font-italic haber-construction">Sitio web en construcción</h1>

                <h5 class="haber-construction">Estamos remodelando nuestra web. Podés contactarte con nosotros a través de los siguientes medios</h5>

            </div>

        </div>

        <div class="row mx-5">

            <div class="col-sm-3">

                <div class="card-deck mb-3 text-center">

                    <div class="card mb-4 box-shadow">

                        <div class="card-header">

                            <h1 class="my-0 font-weight-normal"><i class="la la-phone"></i></h1>

                            <h4 class="my-0 font-weight-normal">Telefónicamente</h4>

                        </div>

                        <div class="card-body">

                            <ul class="list-unstyled mt-3 mb-5">

                                <li>(0221) 424-3050</li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-3">

                <div class="card-deck mb-3 text-center">

                    <div class="card mb-4 box-shadow">

                        <div class="card-header">

                            <h1 class="my-0 font-weight-normal"><i class="la la-envelope"></i></h1>

                            <h4 class="my-0 font-weight-normal">Correo electrónico</h4>

                        </div>

                        <div class="card-body">

                            <ul class="list-unstyled mt-3 mb-4">

                                <li>info@edicioneshaber.com.ar</li>

                                <li>errepar@libreriahaber.com.ar</li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-3">

                <div class="card-deck mb-3 text-center">

                    <div class="card mb-4 box-shadow">

                        <div class="card-header">

                            <h1 class="my-0 font-weight-normal"><i class="la la-map-marker"></i></h1>

                            <h4 class="my-0 font-weight-normal">Local</h4>

                        </div>

                        <div class="card-body">

                            <ul class="list-unstyled mt-3 mb-4">

                                <li>Facultad de Cs. Económicas UNLP</li>

                                <li>Calle 6 Nº 777 PB (47 y 48)</li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-3">

                <div class="card-deck mb-3 text-center">

                    <div class="card mb-4 box-shadow">

                        <div class="card-header">

                            <h1 class="my-0 font-weight-normal"><i class="la la-facebook-official"></i></h1>

                            <h4 class="my-0 font-weight-normal">Facebook</h4>

                        </div>

                        <div class="card-body">

                            <ul class="list-unstyled mt-3 mb-5">

                                <li><a href="https://www.facebook.com/libreriahaber/">Haber - Librería Editorial</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <footer>

        <div class="row">


            <div class="col-sm-12 haber-background-color w-100 mt-5 p-5">

                <span>&copy Haber. Todos los derechos reservados.</span>

            </div>
            
        </div>

    </footer>

</div>